//Google fonts
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Raleway:wght@500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

//Inter (thin, medium & bold 700)
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap);

//Variables
$logo-font: 'Raleway', sans-serif;
$text-font: 'Inter', sans-serif;

$white-color: #ffffff;
$grey-color: #e1e1e1;
$green-color: #76b39d;
$logo-green-color: #78e3bc;
$logo-blue-color: #262262;
$dark-blue-color: #1e1b4d;
$logo-orange-color: #f7941e;
$dark-orange-color: #fd5f00;
$background-color: #ececec;

.subtitulo-notif {
  margin-left: 5%;
  margin-top: 10px;
}

.contenedor-todo-notif {
  .card-notif {
    width: 100%;
    border-radius: 5px;
    margin-top: 1.2rem;
    box-shadow: 0px 10px 10px 0px #e1e1e1;
    .card-content-notif {
      width: 100%;
      .input-nom-suc {
        margin: 5% 5% 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: flex-start;
        .text-usuario {
          grid-column: 1/2;
          padding-right: 10px;
        }
        .text-sucursal {
          grid-column: 2/3;
        }
      }
      .input-tipo-clientes {
        margin-top: 1.2rem;
        display: block;
        justify-items: center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1rem;
        .texto-tipo-cliente {
          margin-top: 1rem;
        }
        .select-tipo-cliente {
          margin-top: 15px;
        }
      }
      .input-buscador-beneficio {
        margin-top: 1.2rem;
        display: block;
        justify-items: center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1rem;
        .buscador-ben {
          margin-top: 1.2rem;
        }
      }
      .texto-notif-geo {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1.3rem;
      }
      .text-envio-notif {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0.9rem;
      }
      .programar-notif {
        margin-top: 1.2rem;
        width: 100%;
        display: grid;
        grid-template-columns: 5% 1fr 1fr 5%;
        grid-template-rows: 1fr;
        justify-items: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        .fecha-notif {
          grid-column: 2/3;
          padding-right: 10px;
          .MuiOutlinedInput-adornedEnd {
            padding-right: 5px;
          }
        }
        .hora-notif {
          grid-column: 3/4;
          .MuiOutlinedInput-adornedEnd {
            padding-right: 5px;
          }
        }
      }
      .boton-enviar-notificacion {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-right: 2.8rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        .btn-env-not {
          margin-left: 1rem;
          background-color: #262262;
          color: white;
        }
        .btn-env-not-disabled {
          margin-left: 1rem;
          background-color: rgba(0,0,0,0.12);
          color: white;
        }
      }
    }
  }
}

.contenedor-notificaciones-todo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.1rem;
  margin-left: 5%;
  margin-right: 5%;
  .card-programar {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .contenedor-cards-lateral {
    grid-column: 2/3;
    display: block;
    flex-direction: column;
  }
}

.lateral-notif {
  margin-bottom: 1rem;
  .contenedor-card-pequeña {
    border-radius: 10px;
    margin-top: 1.2rem;
    box-shadow: 0px 10px 10px 0px #e1e1e1;
    text-align: center;
    margin-bottom: 20px;
    .cont-card-pequeña {
      background-color: #76b39d;
      color: white;
      .texto-1 {
        margin-top: 2%;
        font-size: 18px;
      }
      .cantidad-notif {
        font-size: 50px;
        font-weight: bold;
      }
      .texto-3 {
        margin: 0;
        font-size: 16px;
      }
      .texto-noti {
        margin: 5px 0;
      }
    }
  }
}

.vencimiento {
  margin-bottom: 1rem;
  .contenedor-card-pequeña-vencimiento {
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px #e1e1e1;
    text-align: center;
    .cont-card-pequeña-vencimiento {
      background-color: white;
      color: black;
      .texto-1-vencimiento {
        margin-top: 5%;
        font-size: 22px;
        .cantidad-dias {
          color: #76b39d;
          font-weight: bold;
        }
      }
      .texto-vencimiento {
        font-size: 16px;
      }
      .texto-3-vencimiento {
        font-size: 16px;
        .btn-vencimiento {
          margin-top: 10px;
          background-color: #262262;
          color: white;
          font-size: 12px;
        }
      }
    }
  }
}

.hacerme-premium {
  .contenedor-card-pequeña-premium {
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 10px 10px 0px #e1e1e1;
    justify-content: right;
    text-align: center;
    .cont-card-pequeña-premium {
      background-color: #f7941e;
      color: white;
      .texto-1-premium {
        margin-top: 5%;
        font-size: 22px;
        font-weight: bold;
      }
      .texto-premium {
        margin-top: 7%;
        font-size: 16px;
      }
      .texto-3-premium {
        margin-bottom: 5%;
        margin-top: 5%;
        font-size: 16px;
        .btn-premium {
          margin-top: 10px;
          background-color: white;
          color: #f7941e;
        }
      }
    }
  }
}

@media only screen and (max-width: 925px) {
  .contenedor-notificaciones-todo {
    margin-bottom: 1rem;
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .contenedor-todo-notif {
    .card-notif {
      .card-content-notif {
        .input-nom-suc {
          display: block;
          .text-usuario {
            margin-bottom: 20px;
            padding-right: 0;
          }
        }
      }
    }
  }
}
