//Bootstrap
@import "~bootstrap/scss/bootstrap";
//Inter (thin & bold 700)
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap);

//Variables
$logo-font: "Raleway", sans-serif;
$text-font: "Inter", sans-serif;

$white-color: #ffffff;
$grey-color: #e1e1e1;
$grey2-color: #ececec;
$green-color: #76b39d;
$logo-green-color: #78e3bc;
$logo-blue-color: #262262;
$dark-blue-color: #1e1b4d;
$logo-orange-color: #f7941e;
$dark-orange-color: #fd5f00;

//Styles
* {
  box-sizing: border-box;
}
body {
  font-family: $text-font;
}
h1 {
  font-family: $text-font;
}
h2 {
  font-family: $text-font;
}
h3 {
  font-family: $text-font;
}
h4 {
  font-family: $text-font;
}
span {
  font-family: $text-font;
  font-weight: "Semi-bold 600";
}

@import "modal/modal";
@import "landing/landing";
@import "./iniciar-sesion";
@import "./main";
